/* header style */
.header {
  position: relative;
  background-image: url("../img/banner.png");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container nav {
  padding: 1rem;
}

.header .container ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header .container li {
  margin-right: 10px;
}

.header .container a {
  text-decoration: none;
  color: var(--orange-text);
  font-weight: bold;
}

.header .hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.header .hero h1 {
  font-family: "Prata", sans-serif;
  font-size: 4rem;
  color: var(--orange-text);
  font-weight: lighter;
}

.header .hero p {
  color: #fff;
  font-weight: 200;
  font-size: 1.5rem;
}

.header .slogan {
  position: absolute;
  text-align: center;
  top: 90%;
  height: 350px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.header .slogan .slogan-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header .slogan h3 {
  font-size: 48px;
  color: var(--dark-text);
}

.header .slogan p {
  font-size: 38px;
  font-style: italic;
  margin-top: 15px;
  color: #555251;
}

/* header style end */

/* tentang kami style */
.tentang-kami {
  margin-top: 400px;
  padding: 3rem 0;
  background-color: #f8f8f8;
}

.tentang-kami .container {
  position: relative;
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  z-index: 100 !important;
}

.tentang-kami .shape {
  z-index: -1 !important;
  position: absolute;
  top: -7rem;
  right: 0;
  width: 60px;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #dfb665;
}

.tentang-kami .container h2 {
  font-size: 64px;
  font-weight: bold;
}

.tentang-kami .container .row {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.tentang-kami .container .row p {
  font-size: 32px;
  width: 65%;
  text-align: justify;
}

.tentang-kami .container .row img {
  width: 320px;
}
/* tentang kami style end */

/* produk kami style */

.produk-kami h2 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
}

.produk-kami .row {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin-top: 4rem;
  align-items: center;
  /* grid-template-columns: repeat(3, 1fr); */
}

.produk-kami .row .col {
  padding: 2rem;
  text-align: center;
  border: 2px solid #ddd;
}

/* .produk-kami .col img {
  max-width: 100%;
} */

.produk-kami .row .col h3 {
  margin-top: 10px;
}

.produk-kami .row .col a,
.produk-kami .row .col p {
  color: var(--dark-text);
  text-align: justify;
  margin: 10px 0;
}

.produk-kami .lihat-selengkapnya {
  background-color: var(--orange-text);
  color: var(--dark-text);
  text-decoration: none;
  display: block;
  margin-top: 3rem;
  width: max-content;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-inline: auto;
  transition: 0.5s;
}

.produk-kami .lihat-selengkapnya:hover {
  background-color: #c7a312;
}

/* produk kami style end */

/* kenapa kami style */

.kenapa-kami {
  background-color: #f8f8f8;
  margin-top: 10rem;
  padding: 8rem 0;
}

.kenapa-kami h2 {
  font-size: 64px;
  text-align: center;
  margin-top: 15px;
}

.kenapa-kami p {
  margin-top: 3rem;
  font-size: 38px;
  font-weight: 300;
  text-align: justify;
}

/* kenapa kami style end */

/* testimoni style */

.testimoni {
  background-color: #f8f8f8;
  padding: 10rem 2rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.testimoni .wrapper {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem;
  margin-inline: auto;
  max-width: 1200px;
  border-radius: 10px;
}

.testimoni .wrapper .wrapper-content {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.testimoni h2 {
  font-size: 64px;
  font-weight: bold;
  color: var(--orange-text);
}

.testimoni p {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
  font-size: 32px;
}

.testimoni h4 {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 32px;
}

.testimoni button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--orange-text);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* testimoni style end */

/* temukan kami style */

.temukan-kami h2 {
  font-size: 64px;
  margin-top: 4rem;
  font-weight: bold;
  text-align: center;
}

.temukan-kami .iframe-wrapper {
  margin-top: 35px;
}

.temukan-kami iframe {
  width: 100%;
  height: 550px;
}

/* temukan kami end */

/* footer style */

footer {
  padding-top: 1rem;
}

footer img {
  width: 100px;
}

footer .row {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

footer .row .col:first-child h5 {
  font-family: "Prata", sans-serif;
  font-size: 22px;
}

footer .row .col:first-child .footer-line {
  background-color: #000000;
  height: 3px;
  width: 70px;
  margin: 15px 0;
}

footer .row .col:first-child p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

footer .row .col ul {
  list-style-type: none;
}

footer .row .col ul li {
  margin: 20px 0;
}

footer .row .col ul a {
  color: var(--dark-text);
}

footer .footer-bottom {
  text-align: center;
  padding: 1rem 0;
}

/* footer style end */

/* responsive */

@media (max-width: 1000px) {
  /* .testimoni .wrapper {
    border: 1px solid red !important;
  } */

  .produk-kami .row {
    flex-wrap: wrap;
  }

  .produk-kami .col {
    width: 45%;
  }

  .tentang-kami .container .row p {
    font-size: 24px;
    width: 100%;
  }

  .testimoni .wrapper h2 {
    font-size: 52px;
  }

  .testimoni .wrapper p {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  header .hero-title {
    font-size: 2.2rem !important;
  }

  header .hero-text {
    font-size: 1.2rem !important;
    text-align: justify;
  }

  .header .slogan {
    height: 200px;
  }

  .header .slogan h3 {
    font-size: 32px !important;
  }

  .header .slogan p {
    font-size: 22px !important;
  }

  .produk-kami .col {
    width: 100%;
  }

  .tentang-kami .container .row {
    flex-direction: column;
    align-items: start;
  }

  .produk-kami .row {
    grid-template-columns: 1fr;
  }

  .kenapa-kami h2 {
    font-size: 48px !important;
  }

  .kenapa-kami p {
    font-size: 24px !important;
  }

  /* .testimoni .wrapper {
    border: 1px solid green !important;
  } */

  .testimoni .wrapper h2 {
    /* font-size: 22px; */
  }

  .testimoni .wrapper p {
    font-size: 20px;
  }

  .temukan-kami-title {
    font-size: 48px !important;
  }

  footer .row {
    flex-direction: column;
  }

  footer .row .col:first-child p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .container {
    padding-inline: 1.3rem !important;
  }

  h2 {
    line-height: 1.1;
  }

  header .hero-title {
    text-align: start;
    font-size: 2rem !important;
  }

  .header .slogan {
    height: 180px;
  }

  .header .slogan h3 {
    font-size: 28px !important;
  }

  .header .slogan p {
    font-size: 16px !important;
  }

  .tentang-kami-title {
    margin-bottom: 20px !important;
  }

  .tentang-kami .container .row img {
    width: 100%;
  }

  .testimoni {
    padding-inline: 0 !important;
  }

  .testimoni .wrapper {
    width: 100% !important;
  }

  .testimoni .wrapper p {
    font-size: 16px !important;
  }
}
